:root {
  --bg-color: #000;
  --text-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px calc(96px + constant(safe-area-inset-bottom));
  padding: 30px 30px calc(96px + env(safe-area-inset-bottom));
  color: var(--text-color);
  background-color: var(--bg-color);
}

.test-content {
  display: block;
  width: 100%;
  text-align: center;

  button {
    margin-top: 30px;
  }
}
